@import './css/reset.css';
@import './css/vars.css';

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--font);
  background-color: var(--colorLightest);
}

.color--accent {
 color: var(--colorMain);
}

/* Header */

.header {
  margin: var(--spacerBig);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: var(--fontBig);
  font-weight: var(--fontWeightBold);
}

.navigation__icon {
  width: 2rem;
}
