@import './css/reset.css';
@import './css/vars.css';

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--font);
  background-color: var(--colorLightest);
}

.color--accent {
  color: var(--colorMain);
}

/* Header */

.header {
  margin: var(--spacerBig);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.title {
  font-size: var(--fontBig);
  font-weight: var(--fontWeightBold);
}

.navigation__icon {
  width: 2rem;
}

.content {
  margin: auto;
  max-width: 75%;
}

h2 {
  font-size: var(--fontBig);
  margin-top: var(--spacerRegular);

  text-align: center;
  line-height: var(--spacerBig);
}

.subheading {
  display: none;
}

hr {
  margin-top: var(--spacerBig);
  margin-bottom: var(--spacerRegular);
}

.signup {
  margin-bottom: var(--spacerBig);
}

.section__title {
  font-size: var(--fontRegular);
  text-align: center;
  margin-top: var(--spacerBig);
  margin-bottom: var(--spacerSmall);
  font-weight: var(--fontWeightBold);
}

.signup .input {
  width: 100%;
  padding: var(--spacerSmall);
  margin-top: var(--spacerSmall);
}

.button.button--small {
  margin-top: var(--spacerSmall);
  width: 100%;
  padding: var(--spacerSmall);
  background-color: var(--colorSecondary);
  color: var(--colorLightest);
  letter-spacing: 1px;
}

.hyperlink {
  color: var(--colorMain);
}
