@import './css/reset.css';
@import './css/vars.css';

html {
  box-sizing: border-box;
  height: 100%;
}

/* stylelint-disable*/
*,
*::before,
*::after {
  box-sizing: inherit;
}
/* stylelint-enable*/

body {
  font-family: var(--font);
  background-color: var(--colorLightest);
  height: 90%;
}

main {
  padding-bottom: 5rem;
  min-height: 100%;
}

.color--accent {
  color: var(--colorMain);
}

.color--white {
  color: white;
}

.error {
  color: red;
  font-size: .65rem;
  margin-top: var(--spacerXsmall);
}

/* Header */

.header {
  margin: var(--spacerBig);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.title {
  font-size: var(--fontBig);
  font-weight: var(--fontWeightBold);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 1rem 1.5rem; */
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all .3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 3rem;
}

.nav-link {
  font-size: var(--fontRegular);
  font-weight: 400;
  color: var(--colorSecondary);
  text-decoration: none;
}

.nav-link:hover {
  color: var(--colorMain);
}

footer {
  background-color: var(--colorSecondary);
  padding: var(--spacerBig);
  text-align: center;
  width: 100%;
}

.footer-link {
  color: var(--colorLightest);
  text-decoration: none;
}

footer li {
  margin: auto;
  margin-top: var(--spacerBig);
  margin-bottom: var(--spacerBig);
}

hr {
  margin-top: 3rem;
  margin-bottom: 3rem;
  height: 2px;
  border: none;
  background-color: var(--colorMain);
}

.hr-footer {
  background-color: var(--colorGray);
}

p {
  line-height: var(--spacerMedium);
}

.background {
  background-image: none;
}

/* Content */

.content {
  margin: auto;
  max-width: 85%;
  height: 100%;
}

h2 {
  font-size: var(--fontBig);
  padding-top: var(--spacerRegular);
  text-align: center;
  line-height: var(--spacerBig);
}

h3 {
  font-size: var(--fontMedium);
  line-height: var(--spacerBig);
  font-weight: var(--fontWeightBold);
  margin-top: var(--spacerBig);
  margin-bottom: var(--spacerSmall);
}

h4 {
  font-size: var(--fontRegular);
  line-height: var(--spacerMedium);
  font-weight: var(--fontWeightBold);
  margin-top: var(--spacerBig);
  margin-bottom: var(--spacerSmall);
}

.subheading {
  display: none;
}

.signup, .login {
  margin: auto;
  margin-bottom: var(--spacerBig);
  max-width: var(--inputWidth);
}

.section__title {
  font-size: var(--fontRegular);
  text-align: center;
  margin-top: var(--spacerBig);
  margin-bottom: var(--spacerSmall);
  font-weight: var(--fontWeightBold);
}

.label {
  margin-top: var(--spacerRegular);
  margin-bottom: var(--spacerXsmall);
  display: inline-block;
  width: 100%;
}

.input {
  width: 100%;
  padding: var(--spacerSmall);
  margin-bottom: var(--spacerXsmall);
  margin-top: var(--spacerXsmall);
  box-sizing: border-box;
}

.login-option, .signup-option {
  text-align: center;
  font-size: var(--fontRegular);
  line-height: var(--spacerMedium);
}

.signup-option {
  margin-bottom: 10rem;
  line-height: var(--spacerMedium);
}

.button {
  width: 100%;
  min-width: 10rem;
  max-width: var(--inputWidth);
  padding: var(--spacerSmall);
  box-sizing: border-box;
  background-color: var(--colorSecondary);
  color: var(--colorLightest);
  letter-spacing: 1px;
  border: none;
  border-radius: 3px;
  display: block;
  margin: auto;
  margin-top: var(--spacerRegular);
}

.button:hover {
  background-color: #1c2e55;
  cursor: pointer;
}

a {
  color: var(--colorMain);
}

.no-decoration {
  text-decoration: none;
  color: inherit;
}

.tutorial-info img {
  max-width: 5rem;
  margin-bottom: var(--spacerRegular);
  margin-top: 2.5rem;
}

.tutorial-info {
  text-align: center;
  margin: auto;
  margin-top: var(--spacerRegular);
  padding-bottom: 5rem;
  line-height: 1.3rem;
  color: var(--colorText);
  max-width: var(--inputWidth);
}

.subtext {
  max-width: 45ch;
  margin: auto;
  text-align: center;
}

/* Overview page styling */

.group-list {
  margin: auto;
  margin-top: var(--spacerMedium);
  margin-bottom: 5rem;
  max-width: 40rem;
}

.group-list a {
  text-decoration: none;
  color: var(--colorText);
}

.group-entry {
  border: 2px solid var(--colorMain);
  border-radius: 5px;
  padding: var(--spacerRegular);
  display: flex;
  align-items: center;
  margin: auto;
  margin-top: var(--spacerSmall);
  line-height: var(--spacerBig);
  max-width: 40rem;

}

.group-entry div {
  margin-left: var(--spacerRegular);
}

figure {
  min-width: 3rem;
  min-height: 3rem;
  border-radius: 50%;
}

.overview-group-name {
  font-size: var(--fontMedium);
  font-weight: var(--fontWeightBold);
}

/* Group detail view */

.group-desc {
  margin-top: var(--spacerSmall);
  margin-bottom: var(--spacerRegular);
  max-width: 45ch;
}

.upcoming-events {
  margin-top: var(--spacerBig);
}

.upcoming-events ul {
  margin-top: var(--spacerSmall);
  margin-bottom: var(--spacerBig);
  line-height: var(--spacerBig);
}

.all-group-content {
  margin: auto;
  width: 100%;
  max-width: 30rem;
}

.group-buttons {
  min-width: 10rem;
  max-width: var(--inputWidth);
  margin: auto;
}

/* Create groups content */

.color-input {
  height: 3rem;
  width: 100%;
}

.create-group p {
  line-height: var(--spacerMedium);
  text-align: center;
}

.create-group-form {
  max-width: var(--inputWidth);
  margin: auto;
}

.upcoming-list {
  line-height: var(--spacerXBig);
  align-items: center;
  list-style: none;
  font-size: var(--fontMedium);
}

.upcoming-list::before {
  content: '\2022';
  font-weight: bold;
  color: var(--colorMain);
  font-size: var(--fontBig);
  margin-right: var(--spacerXsmall);
}

/* Create event content */

.create-event {
  height: 100%;
  margin-bottom: 5rem;
}

.create-event-form {
  max-width: var(--inputWidth);
  margin: auto;
}

/* Event detail view */

.event-info {
  max-width: 30rem;
  margin: auto;
}

.event-info h3 {
  text-align: center;
}

.necessities h3 {
  text-align: left;
}

.necessities label {
  margin-top: 5rem;
}

.assign-btn {
  margin-left: var(--spacerSmall);
  color: var(--colorLightest);
  background-color: var(--colorMain);
  padding: .3rem;
  border: none;
  border-radius: 3px;
}

.assign-btn:hover {
  background-color: rgb(255, 131, 74);
}

.item-list {
  line-height: var(--spacerXBig);
  display: flex;
  align-items: center;
  list-style: none;
  font-size: var(--fontMedium);
}

.item-list::before {
  content: '\2022';
  font-weight: bold;
  color: var(--colorMain);
  font-size: var(--fontBig);
  margin-right: var(--spacerXsmall);
}

.leave-form {
  margin: auto;
  margin-top: 4rem;
  text-align: center;
  width: 8rem;
  border: 1px solid red;
  border-radius: 2px;

}

.delete {
  color: tomato;
  background-color: inherit;
  border: none;
  cursor: pointer;
}

/* Mobile screen breakpoint */

@media only screen and (max-width: 845px) {

  .nav-menu {
    position: fixed;
    top: 0;
    left: -100%;
    flex-direction: column;
    background-color: var(--colorMain);
    width: 100%;
    text-align: center;
    transition: .3s;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

}

@media only screen and (min-width: 600px) {

  .break {
    display: none;
  }
}

@media only screen and (min-width: 768px) {

  hr {
    max-width: 30rem;
  }

  footer {
    text-align: left;
    line-height: var(--spacerBig);
  }

  footer hr {
    display: none;
  }

  .footer-menu {
    max-width: 40rem;
  }

  .footer-content {
    max-width: 40rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .signup-option {
    margin-bottom: 10rem;
  }

  .group-desc {
    line-height: var(--spacerMedium);
  }

  .all-group-content {
    justify-content: space-around;
    align-items: baseline;
  }

  .create-group-form {
    max-width: var(--inputWidth);
  }

  .item-list {
    line-height: var(--spacerXBig);
    display: flex;
    font-size: var(--fontMedium);
  }

  .item-list::before {
    font-size: var(--fontBig);
    margin-right: var(--spacerSmall);
  }

  .upcoming-list {
    line-height: var(--spacerXBig);
    display: flex;
    font-size: var(--fontMedium);
  }

  .upcoming-list::before {
    font-size: var(--fontBig);
    margin-right: var(--spacerSmall);
  }
}

@media only screen and (min-width: 1360px) {

  /* stylelint-disable */
  .background {
    background-image: url('assets/img/homepage-background.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    background-position: center center;
    height: 100%;
  }
  /* stylelint-enable */

  .all-access-info {
    background-color: white;
    width: 40rem;
    margin-left: auto;
    box-sizing: content-box;
    min-height: 50rem;
    height: 100%;
    margin-bottom: -5rem;
  }

  .content {
    margin-top: 0;
    max-width: 100%;
    min-height: 100%;
    padding-bottom: 5rem;
  }

  body {
    min-height: 100%;
  }

  main {
    padding: 0;
  }

  hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  h3 {
    margin-bottom: 2rem;
  }

  .signup-option {
    margin-bottom: 0;
  }

  .footer-content {
    flex-direction: row;
    justify-content: space-between;
  }

}
